.success {
  border: solid 2px darkgreen;
  background-color: lightgreen;
  color: darkgreen;
}

.error {
  border: solid 2px darkred;
  background-color: red;
  color: darkred;
}

.warning {
  border: solid 2px yellow;
  background-color: lightyellow;
  color: yellow;
}
